footer {
  background-color: #eeeeee;
}

.sitemap_sect {
  padding: 5.9375rem 0;
}

.flexbox {
  display: flex;
  justify-content: space-between;
}

.studies {
  width: 23.25%;
}

.footer_title {
  font-size: 2.5rem;
  margin: 0;
}

.sitemap {
  display: inline-flex;
  flex: 0 1 65.8914%;
}

.footer_photo {
  width: 100%;
  margin: 1.75rem 0 1.9375rem 0;
}

.footer_logo {
  max-width: 26.677%;
}

.sitemap_box {
  margin-right: 2.125rem;
  flex: 0 1 25%;
}

.footer_disc {
  font-size: 1.25rem;
  line-height: 1.875rem;
  margin: 0.625rem 0 1rem 0;
}

.footer_link {
  font-family: "Graphik-semi";
  font-size: 1.25rem;
  text-decoration: none;
}

h6 {
  font-size: 1.25rem;
  margin: 0.3125rem 0 1.3125rem 0;
}

.sitemap_list {
  font-size: 0.9375rem;
  margin: 0.9375rem 0;
  line-height: 1rem;
}
.sitemap_list a {
  text-decoration: none;
}
.footer_sect {
  padding-bottom: 3.125rem;
  padding-top: 3.125rem;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_container p {
  font-size: 0.75rem;
  line-height: 0.9375rem;
  margin: 0;
}
.line {
  border-top: 1px solid #000000;
}

.footer_cont_left {
  display: flex;
  align-items: center;
}
.footer_logo_2 {
  width: 5.625rem;
}

.footer_cont_left a {
  margin: 0 0.875rem 0 0;
}
.footer_cont_left p {
  width: 18.8125rem;
}

.licence {
  margin: 0 4.75rem 0 0;
}
